.start {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 10%);
background-color: #27db27;
font-family: 'Montserrat';
font-weight: bold;
font-size: 30px;
color: white;
width: 400px;
height: 100px;
border-radius: 500px;
border-style: solid;
border-color: #27db27;
cursor: pointer;
}

.thing {
position: absolute;
top: 40%;
left: 50%;
transform: translateX(-50%);
font-family: 'Montserrat';
color: white;
font-size: 17px;
}

body {
background-image: url('beep.jpg');
background-repeat: no-repeat;
background-size: 2000px 1000px;
}

img {
float:left;
display:inline;
}

.dog {
position: absolute;
float:left;
display:inline;
top: 36%;
font-family: 'Montserrat';
font-size: 30px;
font-weight: bold;
color: black;
}

.stuff {
position: relative;
left: 20%;
}

a {
text-decoration: none;
color: black;
font-family: 'Montserrat';
font-size: 30px;
}